target/
**/.DS_Store
node_modules/
**/node_modules/
logos-wasm/dist/
.cpcache/
**/.cpcache/
**/.shadow-cljs/
backend/logs/
backend/scripts/_env.local
Cargo.lock

# Frontend build outputs
frontend/resources/public/css/
frontend/resources/public/fonts/
frontend/resources/public/js/cljs-runtime/
frontend/resources/public/js/worker/
frontend/resources/public/js/libs.js
frontend/resources/public/js/main*.js
frontend/resources/public/js/polyfills.js
frontend/resources/public/js/rasterizer.js
frontend/resources/public/js/render.js
frontend/resources/public/js/shared.js
frontend/resources/public/js/util-highlight.js
frontend/resources/public/js/translation.*.js
!frontend/resources/public/js/translation.en.js
!frontend/resources/public/js/config.js
frontend/resources/public/rasterizer.html
frontend/resources/public/render.html
frontend/resources/public/challenge.html
frontend/resources/public/wasm-playground/
frontend/resources/public/images/assets/
frontend/resources/public/images/avatar*.jpg
frontend/resources/public/images/beforeyoustartilustration.svg
frontend/resources/public/images/beta-on.jpg
frontend/resources/public/images/colorpicker-no-image.png
frontend/resources/public/images/community.svg
frontend/resources/public/images/contributing.svg
frontend/resources/public/images/cursors/
frontend/resources/public/images/deco-*.png
frontend/resources/public/images/deco-*.svg
frontend/resources/public/images/email/
frontend/resources/public/images/export-no-shapes.png
frontend/resources/public/images/favicon.png
frontend/resources/public/images/features/
frontend/resources/public/images/form/
frontend/resources/public/images/hands-on-tutorial.png
frontend/resources/public/images/help-variant-connection.png
frontend/resources/public/images/icons/
frontend/resources/public/images/login-*.jpg
frontend/resources/public/images/login-*.svg
frontend/resources/public/images/on-*.gif
frontend/resources/public/images/on-*.svg
frontend/resources/public/images/onboarding-*.png
frontend/resources/public/images/onboarding-*.jpg
frontend/resources/public/images/open-source.svg
frontend/resources/public/images/penpot-login.jpg
frontend/resources/public/images/ph-*.svg
frontend/resources/public/images/project-placeholder.svg
frontend/resources/public/images/registration-illustration.png
frontend/resources/public/images/sprites/
frontend/resources/public/images/status-*-refactor.svg
frontend/resources/public/images/thumbnails/
frontend/resources/public/images/user-guide.svg
frontend/resources/public/images/video-tutorials.svg
frontend/resources/public/images/walkthrough-cover.png
frontend/resources/public/images/welcomeilustration.svg
!frontend/resources/public/images/logos-logo.png

# Storybook build outputs
frontend/.storybook/preview-*.html

# Shadow-cljs cache
shadow/

# Plugin build outputs
plugins/libs/plugins-runtime/

# Backup files
*.bak
