name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install WASM target
      run: rustup target add wasm32-unknown-unknown
    - name: Build Native
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose -- --nocapture
    - name: Build WASM
      run: cargo build --release --target wasm32-unknown-unknown
